parameters:
    level: max
    paths:
        - src/

    reportUnmatchedIgnoredErrors: true
    checkMissingVarTagTypehint: true

    excludePaths:
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
